<!--导航栏图片 start-->
.header-pic
	h1(style="width: 100%;height: 140px; color: #fff; font-size: 36px;text-align: center; line-height: 200px;") #{'愤怒的牛仔'}
	h2(style="width: 100%;height: 30px; color: #fff; font-size: 30px;text-align: center; line-height: 30px;border:1p") #{'勇敢改变，勇敢做自己！'}
<!--导航栏图片 end-->

include ./tag.pug
include ./article.pug
include ./page.pug

	
	
	
	


	
