extends ./includes/layout.pug
block layout
  <div clas="" style="width:200px;height:200px;margin:40px auto;"><h1 style="text-align: center;font-size:26px;color:red;">主人很懒，什么都没留下！</h1></div>
block footer
