extends ./includes/layout.pug
block layout
  <div clas="" style="width:200px;height:200px;margin:40px auto;"><h1 style="text-align: center;font-size:30px;color:#20e3b2;">不念过去，不畏将来</h1></div>
block footer
